body {
    background-color: #fedfff;
}

code {
    background-color: #323232;
    color: snow;
    font-size: large;
    font-weight: 700;
    padding: 3px 10px;
}

em {
    background-color: #bababa;
    font-size: large;
    font-style: normal;
}

.cart-fab{
    border-radius: 50%;
    box-shadow: #bababa 3px 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 22px;
    position: fixed;
    right: 10px;
    top: 77px;
}